@model Web.Models.Bungalow
@using Web.Models
@{
    ViewBag.Title = "Mantener Bungalow";
}

<h1>@ViewBag.Title</h1>

<fieldset>
    <legend>Datos del bungalow</legend>
    @using (Html.BeginForm("InsertarBungalow", "Logistica", FormMethod.Post, new { @id = "form" }))
    {
        <ul>
            <li>
                @Html.LabelFor(p => p.id)
                @Html.TextBoxFor(p => p.id, new { @readonly = "readonly" })             
            </li>
            <li>
                @Html.LabelFor(p => p.numero)
                @Html.TextBoxFor(p => p.numero)             
            </li>
            
            <li>
            @Html.LabelFor(p => p.sede)
                @(Html.Kendo().DropDownList()
                .OptionLabel("--Seleccionar--")
                .Name("sedeBox")
                .DataTextField("nombre")
                .DataValueField("id")
                .AutoBind(true)
                //.BindTo(Sede.SeleccionarTodo())
                .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Leer_Sedes", "Logistica");
                        }).Events(e => e.Error("ErrorMessage"));
                    })
                .Value(Model != null && Model.sede!=null ? Model.sede.id.ToString() : null)
                )  
            </li><li>
            @Html.LabelFor(p => p.tipobungalow)
                @(Html.Kendo().DropDownList()
                .OptionLabel("--Seleccionar--")
                .Name("tipobungalowBox")
                .DataTextField("nombre")
                .DataValueField("id")
                .AutoBind(true)
                //.BindTo(TipoBungalow.SeleccionarTodo())
                .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Leer_Sedes", "Logistica");
                        }).Events(e => e.Error("ErrorMessage"));
                    })
                .Value(Model != null && Model.tipobungalow != null ? Model.tipobungalow.id.ToString() : null)
                )       
            </li>

            @*------------ESTADO: Habilitado o Deshabilitado--------------*@
            <li>
            @Html.LabelFor(p => p.estado)
                @(Html.Kendo().DropDownList()
                .OptionLabel("--Seleccionar--")
                .Name("estadoBungalow")
                .DataTextField("nombre")
                .DataValueField("nombre")
                .AutoBind(true)
                .DataSource(source =>
                    {
                        source.Read(read=>
                            { 
                                read.Action("Leer_Estados", "Logistica");
                    
                            })
                            .ServerFiltering(true)
                            .Events(e => e.Error("ErrorMessage"));
                    })
                    .Value(Model  != null && Model.estado!= null ? Model.estado.ToString() :null)
                )       
            </li>


            @Html.TextBoxFor(p => p.estado, new { style = "display:none;" }) 
            @Html.TextBoxFor(p => p.tipobungalow.id, new { style = "display:none;" })                
            @Html.TextBoxFor(p => p.sede.id, new { style = "display:none;" })  
        </ul>
        <div id="botones">
            <input type="button" value="Limpiar" id="Limpiar" onclick="location.href = '@(Url.Action("MantenerBungalow", "Logistica"))'" />
            <input type="submit" value="Agregar Imagen" />
            <input type="submit" value=@(Model == null || Model.id == 0 ? "Insertar" : "Modificar") />
        </div> 
        
        if (ViewData["message"] == null)
        { }
        else if (ViewData["message"].Equals("NUM"))
        { <script type="text/javascript">alert("Ese número de Bungalow ya existe!\nPor favor intente con otro número. ")</script>}
        else if (ViewData["message"].Equals("ELIMINA"))
        { <script type="text/javascript">alert("No se puede eliminar el Bungalow ya que tiene Reservas asociadas.")</script>}

    }
</fieldset>

<div id="kendotable">
    @(Html.Kendo().Grid<Web.Models.Bungalow>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.numero).Title("Numero");
            columns.Bound(p => p.sede.nombre).Title("Sede");
            columns.Bound(p => p.estado);
            columns.Bound(p => p.tipobungalow.nombre).Title("Tipo");
            columns.Command(p => { p.Custom("Ver Info").Click("muestraTipo"); });
            //columns.Bound(p => p.tipobungalow.nombre);
            //columns.Bound(p => p.tipobungalow.capacidad);

            columns.Command(c => { c.Custom("Editar").Text("<span class='k-icon k-edit'></span>").Click("EditarBungalow"); c.Custom("Eliminar").Text("<span class='k-icon k-delete'></span>").Click("elimina"); });
        }
        )
        .Editable(editable => { editable.Mode(GridEditMode.InLine); editable.DisplayDeleteConfirmation("El regitro será eliminado ¿Desea continuar?"); })
        .Pageable()
        .Sortable()
        .Filterable(filterable => filterable
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .Contains("Contiene")
                .StartsWith("Empezar con")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Diferente a"))
            .ForNumber(number => number.Clear()
                .IsGreaterThan("Es mayor a")
                .IsLessThan("Es menor a")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Es diferente a"))
        )
       )
       .DataSource(d => d.Ajax()
            .Events(events => events.Error("ErrorMessage"))
            .Model(m => m.Id(p => p.id))
                    .Read(r => r.Action("LeerBungalows", "Logistica"))
            .Destroy(a => a.Action("EliminarBungalow", "Logistica"))
            )
            .Selectable()
    )
</div>

<script type="text/javascript">

  $("#form").validate({
  ignore: "",
        rules: {
        "sede.id":  {
                required : true
                },
       "tipobungalow.id": {
                required: true
                }       
        },
        messages: {
        "sede.id":  {
                required : "Seleccionar un valor"
                },
        "tipobungalow.id": {
                required: "Seleccionar un valor"
                }
        },
        submitHandler: function ConfirmationBox(form) {
        var result = confirm("¿Está seguro de realizar los cambios?");
        if (result == true) {
            form.submit();
            return true;
        }
        else {
            return false;
            }
        }
       
    });

    function ErrorMessage(e) {
        alert("A ocurrido un error en el servidor!\nVuelva a intentar la operación en unos minutos...");
    }

    function EditarBungalow(e) {
        e.preventDefault();
        var grid = $('#Grid').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var id = dataItem.id;
        location = "@Url.Action("EditarBungalow")" + "?id=" + id;
    }

        function elimina(e) {
        e.preventDefault();
        var grid = $('#Grid').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var id = dataItem.id;
        location = "@Url.Action("EliminarBungalow")" + "?id=" + id;
    }

//    function habilitar(e) {
//        e.preventDefault();
//        var grid = $('#Grid').data('kendoGrid');
//        var row = grid.select();
//        var dataItem = grid.dataItem(row);
//        var id = dataItem.id;
//        location = "@Url.Action("habilitarBungalow")" + "?id=" + id;
//    }

$(document).ready(function() {
var dropdownlist = $("#sedeBox").data("kendoDropDownList");
        
            $("#sede_id").val(dropdownlist.value());
        dropdownlist.bind("change",function(e){ 
            $("#sede_id").val(dropdownlist.value());            
           //alert("idSede: "+dropdownlist.value()); 
        });
     
    });

$(document).ready(function() {
var dropdownlist = $("#tipobungalowBox").data("kendoDropDownList");
            $("#tipobungalow_id").val(dropdownlist.value());
        dropdownlist.bind("change",function(e){
            $("#tipobungalow_id").val(dropdownlist.value());            
           //alert("idtipoBungalow: "+dropdownlist.value()); 
        });
     
    });

$(document).ready(function() {
        var dropdownlist = $("#estadoBungalow").data("kendoDropDownList");
          $("#estado").val(dropdownlist.value());
        dropdownlist.bind("change",function(e){
            $("#estado").val(dropdownlist.value());
            alert("estado: "+dropdownlist.value()); 
        });
    });

</script>




<script type="text/x-kendo-template" id="template">
  <fieldset>
  <form ="form"  method="post" id="Form" >
    <ul>
            <li>
                <div class="editor-label">@Html.LabelFor(p => p.tipobungalow.nombre)</div>
               @{<tr>#= tipobungalow.nombre#</tr>}
            </li>
            <li>
                <div class="editor-label">@Html.LabelFor(p => p.tipobungalow.descripcion)</div>
                 @{<tr align="center">#= tipobungalow.descripcion#</tr>}
            </li>
            <li>
                <div class="editor-label">@Html.LabelFor(p => p.tipobungalow.capacidad)</div>
               @{<tr>#= tipobungalow.capacidad#</tr>}
            </li>
            <li>
                <div class="editor-label">@Html.LabelFor(p => p.tipobungalow.nrohabitaciones)</div>
                @{<tr>#= tipobungalow.nrohabitaciones#</tr>}
            </li>
            <li>
                <div class="editor-label">@Html.LabelFor(p => p.tipobungalow.precio)</div>
                @{<tr>#= tipobungalow.precio#</tr>}
            </li>
    </ul>
    </form>
  </fieldset>
</script>

<script>
 
@*------------POPUP tipo bungalow--------------*@

var detailsTemplate = kendo.template($("#template").html());
    function muestraTipo(e) {
        e.preventDefault();
        var grid = $('#Grid').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var wnd = $("#Tipo").data('kendoWindow');
        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }

</script>

@(Html.Kendo().Window().Name("Tipo")
    .Title("Tipo de Bungalow")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(500)
    //.Events(ev => ev.Close("onClose"))     
)

