@model Web.Models.ReservaCancha
@using Web.Models
@{
    ViewBag.Title = "Perfil";
}

<fieldset>
    <legend>Datos de la reserva</legend>
    @using (Html.BeginForm("IngresarReservaCancha", "Reservas", FormMethod.Post, new { @id = "Form" }))
    {
        <form id="Form"><ul>
            <li class="long">
                <div id="editor-label">@Html.LabelFor(p => p.id)</div>
                @Html.TextBoxFor(p => p.id, new { @readonly = "readonly" })
            </li><li>
                <div id="editor-label">@Html.LabelFor(p=>p.idSede)</div>
                @(Html.Kendo().DropDownListFor(p => p.idSede)
                .HtmlAttributes(new { id = "categoriaSede" })
                //.Name("categoriaSede")
                .OptionLabel("--Seleccionar--")
                .DataTextField("nombre")
                .DataValueField("id")
                .AutoBind(true)
                //.BindTo(Sede.SeleccionarTodo())
                .DataSource(source => {
                    source.Read(read =>
                    {
                        read.Action("LeerSedes", "Reservas");
                    }).Events(e => e.Error("ErrorMessage")); 
                })
                );
                
             </li><li><div id="editor-label">@Html.LabelFor(p => p.fechaInicio)</div>
                @(Html.Kendo().DatePickerFor(p => p.fechaInicio)
                .HtmlAttributes(new { style= "width:150px"})
                .Min(DateTime.Today)
                .Max(new DateTime(2020, 12, 31))
                //.Value(DateTime.Today)
                .Events(e => e.Change("startChange"))
            )
            </li><li>
                <div id="editor-label">@Html.LabelFor(p=>p.idTipoCancha)</div>
                @(//var tipo Box = //Si se usa la asignación y el render, el @ debe envolver con {} y no con ()
                    Html.Kendo().DropDownListFor(p => p.idTipoCancha)
                .HtmlAttributes(new { id = "categoriaTipo" })
                    //.Name("categoriaTipo")
                    .OptionLabel("--Seleccionar--")
                    .DataTextField("nombre")
                    .DataValueField("id")
                    //.BindTo(TipoCancha.SeleccionarTodo())
                    //tipoBox.Render();
                    .DataSource(source =>
                    {
                     source.Read(read =>
                    {
                        read.Action("LeerTipoCancha", "Reservas")
                            .Data("filterSede");
                    }).Events(e => e.Error("ErrorMessage"))
                    .ServerFiltering(true);
                    })
                    .Enable(false)
                    .AutoBind(false)
                .CascadeFrom("categoriaSede")
             )
             <script>
                 function filterSede() {
                     return {
                         idSede: $("#categoriaSede").val()
                     };
                 }
            </script>
  
             </li><li><div id="editor-label">@Html.LabelFor(p => p.horaInicio)</div>
                @(Html.Kendo().TimePickerFor(p => p.horaInicio)
                .HtmlAttributes(new { style = "width:150px" })
                .Max("6:00 PM")
                .Min("8:00 AM")
                .Format("{0:HH:mm}")
                )

            </li><li>
                <div id="editor-label">@Html.Label("Número de cancha")</div>
                @(Html.Kendo().DropDownListFor(p => p.idCancha)
                //.Name("categoriaNumero")
                .OptionLabel("--Seleccionar--")
                .DataTextField("numero")
                .DataValueField("id")
                .AutoBind(false)
                //.BindTo(Cancha.SeleccionarTodo())   //En vez de bind debería usar DataSource
                .DataSource(source =>
                {
                  source.Read(read =>
                {
                    read.Action("LeerNumeroCancha", "Reservas")
                        .Data("filterNumero");
                }).Events(e => e.Error("ErrorMessage"))
               .ServerFiltering(true);
                })
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("categoriaTipo")
                )
                 <script>
                     function filterNumero() {
                         return {
                             idTipo: $("#categoriaTipo").val(),
                             idSede: $("#categoriaSede").val()
                         };
                     }
                  </script>


            </li><li><div id="editor-label">@Html.LabelFor(p => p.horaFin)</div>
                @(Html.Kendo().TimePickerFor(p => p.horaFin)
                .HtmlAttributes(new { style = "width:150px" })
                .Max("6:00 PM")
                .Min("8:00 AM"))
            </li>   
        </ul>
        <div id="botones">
            <input type="button" value="Limpiar" id="Limpiar" onclick="location.href = '@(Url.Action("ReservarCancha", "Reservas"))'" />
            <input type="submit" value=@(Model == null || Model.id == 0 ? "Reservar" : "Modificar") />
        </div>
        
        @if (ViewData["message"] == null)
        { }
        else
        {
                <script type="text/javascript">
                    alert("@ViewData["message"]");
                </script>
        }
                                                                                                               
    </form>
    }
</fieldset>

<div id="kendotable">
    @(Html.Kendo().Grid<Web.Models.ReservaCancha>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.cancha.sede.nombre).Title("Sede");
            columns.Bound(p => p.cancha.numero).Title("Cancha").Filterable(false);
            columns.Bound(p => p.fechaInicio).Format("{0:dd/MM/yyyy}").Title("Fecha Inicio").Filterable(false);
            columns.Bound(p => p.horaInicio).Format("{0:HH:mm}").Title("Hora Inicio").Filterable(false).Sortable(false);
            columns.Bound(p => p.horaFin).Format("{0:HH:mm}").Title("Hora Fin").Filterable(false).Sortable(false);
            columns.Bound(p => p.estado).Filterable(false);
            columns.Command(c => { c.Custom("Editar").Text("<span class='k-icon k-edit'></span>").Click("EditarPerfil"); c.Custom("Cancelar").Click("Cancelar"); });
        }
        )
        .Pageable()
        .Sortable()
        .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .Contains("Contiene")
                .StartsWith("Empezar con"))
            .ForNumber(number => number.Clear()
                .IsGreaterThan("Es mayor a")
                .IsLessThan("Es menor a")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Es diferente a"))
        )
       )
       .DataSource(d => d.Ajax()
            .Read(r => r.Action("LeerReservasCanchas", "Reservas"))
            .Events(events => events.Error("ErrorMessage"))
            //.Model(m => m.Id(p => p.id))
            )
            .Selectable()
    )
</div>

<script type="text/javascript">
    function EditarPerfil(e) {
        e.preventDefault();
        var grid = $('#Grid').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var id = dataItem.id;
        location = "@Url.Action("EditarReservaCancha")" + "?id=" + id;
    }

    function Cancelar(e) {
        e.preventDefault();
        var grid = $('#Grid').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var id = dataItem.id;
        location = "@Url.Action("CancelarReservaCancha")" + "?id=" + id;
    }

     function startChange() {
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
        }
    }

</script>


@(Html.Kendo().Window().Name("Permisos")
    .Title("Permisos del Perfil")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
       
)


<script type="text/javascript">
jQuery.validator.addMethod("accept2", function(value, element, param) {
  return value.match(new RegExp("^" + param + "$"));
});


$("#Form").validate({
        ignore: "", 
		rules: {
            idSede:   {
                required: true
                },
             idTipoCancha:   {
                required: true
                },
            fechaInicio:  {
                  required: true,
                  date: true
                },

            horaInicio:  {
                required: true,
                date: true
                },
            horaFin: {
                required: true,
                date: true
                
                },

            idSede:  {
                required: true
                },
                
            idTipoCancha:  {
                required: true
            },
            },
		messages: {
             idSede:  {
                required: "*Campo obligatorio"
                },
             idTipoCancha:  {
                required: "*Campo obligatorio"
                },	
           fechaInicio:  {
                required: "*Campo obligatorio",
                date: "fecha Invalida"
                },
            horaInicio: {
                 required: "*Campo obligatorio",
                 date: "Hora Inicio Invalida"               
                },
            horaFin: {
                 required: "*Campo obligatorio",                
                 date: "Hora Fin Invalida"
                },

            idSede:  {
                required: "*Campo obligatorio"
                },
                
            idTipoCancha:  {
                required: "*Campo obligatorio"
            },
             
		},
        submitHandler: function ConfirmationBox(form) {
        var result = confirm("¿Está seguro de realizar los cambios?");
        if (result == true) {
            form.submit();
            return true;
        }
        else {
            return false;
            }
        }
		
});

   
    function ErrorMessage(e) {
        alert("Ha ocurrido un error en el servidor!\nVuelva a intentar la operación en unos minutos");
    }
</script>


