@*@model Web.Models.Servicio
@using Web.Models
@{
    ViewBag.Title = "Mantener Servicios";
}

<h1>@ViewBag.Title</h1>

<fieldset>
    <legend>Datos del Servicio</legend>
    @using (Html.BeginForm("InsertarServicio", "Administracion", FormMethod.Post, new { @id = "form" }))
    {
        <ul>
            <li>
                <div class="editor-label">@Html.LabelFor(p => p.id)</div>
                @Html.TextBoxFor(p => p.id, new { @readonly = "readonly" })
            </li><li>
                <div class="editor-label">@Html.LabelFor(p => p.nombre)</div>
                @Html.TextBoxFor(p => p.nombre)
             
            </li><li>
                <div class="editor-label">@Html.LabelFor(p => p.descripcion)</div>
                @Html.TextBoxFor(p => p.descripcion)
             
            </li><li>
                <div class="editor-label">@Html.LabelFor(p => p.precio)</div>
                @Html.TextBoxFor(p => p.precio)
           
            </li><li class="long">
                <div class="editor-label">@Html.LabelFor(p => p.sedes)</div>
                @(Html.Kendo().MultiSelectFor(p => p.sedesAux)
                    .DataTextField("nombre")
                    .DataValueField("id")
                    .Placeholder("--Seleccionar--")
                    .BindTo(Sede.SeleccionarTodo())
                    .Value(Model != null ? Sede.Enlistar(Model.sedes) : null)
                )
       
            </li>
                @Html.TextBoxFor(p => p.estado, "", new { style = "display:none;" })
        </ul>
        <div id="botones">
            <input type="button" value="Limpiar" id="Limpiar" onclick="location.href = '@(Url.Action("MantenerServicio", "Administracion"))'" />
            <input type="submit" value=@(Model == null || Model.id == 0 ? "Insertar" : "Modificar") />
        </div> 
        
         if (ViewData["message"] == null)
         { }
         else if (ViewData["message"].Equals("F"))
         {<script type="text/javascript">              alert("Lo sentimos!\nNo se pudo realizar la operación.\nVuelva intentarlo en otro momento. ")</script> }
         else if (ViewData["message"].Equals("E"))
         { <script type="text/javascript">               alert("La operación se realizó con éxito!")</script>}
    }
</fieldset>

<div id="kendotable">
    @(Html.Kendo().Grid<Web.Models.Servicio>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.id);
            columns.Bound(p => p.nombre);         
            columns.Bound(p => p.precio);
            columns.Bound(p => p.descripcion);
            columns.Command(c => { c.Custom("Editar").Click("EditarServicio"); c.Destroy().Text("Eliminar"); });
        }
        )
        .Editable(editable => { editable.Mode(GridEditMode.InLine); editable.DisplayDeleteConfirmation("El regitro será eliminado ¿Desea continuar?"); })
        .Pageable()
        .Sortable()
        .Filterable(filterable => filterable
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .Contains("Contiene")
                .StartsWith("Empezar con")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Diferente a"))
            .ForNumber(number => number.Clear()
                .IsGreaterThan("Es mayor a")
                .IsLessThan("Es menor a")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Es diferente a"))
        )
       )
       .DataSource(d => d.Ajax()
            .Read(r => r.Action("LeerServicio", "Administracion"))
            .Events(events => events.Error("ErrorMessage"))
            .Model(m => m.Id(p => p.id))
            .Destroy(a => a.Action("EliminarServicio", "Administracion"))
            )
            .Selectable()
    )
</div>

<script type="text/javascript">

    $("#form").validate({
        rules: {
            nombre: {
                    required: true,
                    maxlength: 50
                },
            Descripcion: {
                    required: true,
                    maxlength: 150
                },
            precio: {
                    required: true,
                    minlength: 1,
                    maxlength: 4,
                    digits: true
                }
        },
        messages: {
			nombre: {
                required: "*Campo obligatorio",
                maxlength: "Tamaño máx. 50 caracteres"
                },
			descripcion: {
                required: "*Campo obligatorio",
                maxlength: "Tamaño máx. 150 caracteres"
                },
			precio: {
				required: "*Campo obligatorio",
                digits: "Ingrese solo dígitos",
                maxlength:"Ingrese 4 dígitos como máximo",
                minlength:"Ingrese 1 dígitos como mínimo"
			}
        },
        submitHandler: function ConfirmationBox(form) {
        var result = confirm("¿Está seguro de realizar los cambios?");
        if (result == true) {
            form.submit();
            return true;
        }
        else {
            return false;
            }
        }
    });

    function ErrorMessage(e) {
        alert("A ocurrido un error en el servidor!\nVuelva a intentar la operación en unos minutos...");
    }

    function EditarConcesionario(e) {
        e.preventDefault();
        var grid = $('#Grid').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var id = dataItem.id;
        location = "@Url.Action("EditarServicio")" + "?id=" + id;
    }

</script>*@