    @model Web.Models.Empleado

@{
    ViewBag.Title = "Asistencia";
}

<h2>Asistencia</h2>

<fieldset>
 <legend>Datos del Formulario</legend>
@using (Html.BeginForm("AñadirAsistencia", "RRHH", FormMethod.Post, new {@id="Form" }))
{
    <form><ul>
        <li>
        <div class="editor-label">@Html.Label("Codigo*")</div>
        @Html.TextBoxFor(p => p.persona.id, new { onkeyup = "ElRellenador(this.value);" , id="codigo" })
        </li>
        <li>
        <div class="editor-label">@Html.Label("Nombre")</div>
        @Html.TextBoxFor(p => p.persona.nombre, new { id = "nombre", @readonly = "readonly" })
        </li>
    </ul>
    <div id="botones">
    <input type="button" value= "Limpiar"  id="cancel" onclick="location.href = '@(Url.Action("Asistencia", "RRHH"))'" class="button fright"/>
    <input type="submit" value="Confirmar") />
    </div>
    @if (ViewData["message"] == null)
         { }                                                                                                         
         else if (ViewData["message"].Equals("F"))
         {<script type="text/javascript">alert("Lo sentimos!\nNo se pudo realizar la operación.\nVuelva intentarlo en otro momento. ")</script> }
         else if (ViewData["message"].Equals("EA"))
         { <script type="text/javascript">alert("Se acaba de registrar su Entrada")</script>} 
         else if (ViewData["message"].Equals("EM"))
         { <script type="text/javascript">alert("Se acaba de registrar su Salida")</script>} 
         else if (ViewData["message"].Equals("N"))
         { <script type="text/javascript">alert("El codigo o nombre ingresados no existen")</script>} 
         else if (ViewData["message"].Equals("YAAM"))
         { <script type="text/javascript">alert("Usted ya registro su Entrada y su Salida")</script>}
         else if (ViewData["message"].Equals("ANC"))
         { <script type="text/javascript">alert("Usted aun no puede registrar su hora de Salida")</script>}
         else
         { <script type="text/javascript">alert("@ViewData["message"]")</script>}
</form>
}
  </fieldset>



  <MARQUEE WIDTH=100% HEIGHT=80>NOTICIAS: "El señor Yulian acaba de volverse socio honorario"   DEPORTES: "Antunez marco el gol del triunfo en la final de la copa Clubly 2013"   Eventos: "Tavo y Rudy se presentaron el dia de ayer en el Coliseo del Club, con su tributo a The Beatles"     Noticia de Ultimo Minuto: "Maki acaba de terminar sus vistas"       "Fernando acaba de llegar de su gira por el mundo"</MARQUEE>

  <script type="text/javascript">
      $("#codigo").change(function () {
        var valtext = $("#codigo").val();
        var jsonCliente = {
            data: valtext
        };
        $.ajax({
             type: "POST",
             data: JSON.stringify(jsonCliente),
             dataType: "json",
             contentType: "application/json; charset=utf-8",
             url: "/RRHH/Asistencia",
             success: function (data) {
                //si la respuesta es: { me : "algo" }
                var me = data.me;
                $("#nombre").val(me);
                },
                error: function () {
            alert("El empleado no existe");
        }
       });
      });



      jQuery.validator.addMethod("accept2", function (value, element, param) {
          return value.match(new RegExp("^" + param + "$"));
      });


      $("#Form").validate({
          rules: {
              "persona.id": {
                  required: true,
                  digits : true,
                  minlength: 5,
                  maxlength: 5
                  
              }
          },
          messages: {
              "persona.id": {
                  required: "*Campo Obligatorio",
                  digits : "Solo se permiten digitos",
                  minlength: "El codigo debe tener 5 digitos",
                  maxlength: "El codigo debe tener 5 digitos"
                  
              }
          },
          submitHandler: function (form) {
              form.submit();
          }

      });

      function ErrorMessage(e) {
          alert("A ocurrido un error en el servidor!\nVuelva a intentar la operación en unos minutos...");
      }
</script>